/* 
    GENERAL
*/

.container_mini{
    width: 60%;
    margin: 0 auto;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.2rem;
}

h3{
    font-size: 1rem;
}

.star-line{
    font-size: 1.7rem;
}

.section-title{
    font-size: 1.2rem;
}

.horizontal-line{
    height: .250rem;
    width: 3rem;
}

:root{
    --bs_green: #1ABC9C;
    --bs_light-gray: #3A546D;
    --bs_dark_gray: #2C3E50;
}

.bg_bs_green{
    background-color: var(--bs_green);
}

.bg_bs_light-gray{
    background-color: var(--bs_light-gray);
}

.bg_dark_gray{
    background-color: var(--bs_dark_gray);
}

.white_border{
    border-color: white;
}

/* 
    MAIN
*/

.form-floating > .textarea{
    height: 200px;
}

/* 
    FOOTER
*/

.icon-container{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 0.8rem;
}

.bs_link{
    color: var(--bs_green);
    text-decoration: none;
}

.lower-footer div{
    font-size: 0.7rem;
}

/* 
    RESPONSIVE
*/

@media (min-width: 768px) { 
    
    
    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 1.6rem;
    }
    
    h3{
        font-size: 1.3rem;
    }

    .star-line{
        font-size: 1.5rem;
    }

    .section-title{
        font-size: 3rem;
    }

    .horizontal-line{
        height: .250rem;
        width: 6rem;
    }
 }
