.container_mini{
    width: 60%;
    margin: 0 auto;
}
























.debug header .row .col{
    background-color: aquamarine;
    border: 2px dashed black;
}

.debug main .user-profile .row .col-auto{
    background-color: lightcoral;
}

.debug footer .upper-footer .col-12{
    background-color: aquamarine;
    border: 2px dashed black;
}